* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --Blanco: #ffffff;
    --Bg: #FAFAFA;
    --Negro: #262626;
    --Gris: #DBDBDB;
    --Azul: #3897F0;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--Bg)
}

.header{
    /* border: 1px solid red; */
    height: 70px;
    background-color: var(--Blanco);
    border-bottom: 1px solid var(--Gris);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}


.containerHeader{
    /* border: 1px solid blue; */
    max-width: 1000px;
    height: 100%;
    padding: 0 1em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerLogo{
    width: 70px;
    height: 70px;
}
    .containerLogo img{
        height: 70px;
        width: 70px;
    }

.containerHeader nav{
    height: 100%;
    display: flex;
    align-items: center;
}

.containerHeader nav a{
    margin: 0 0 0 .5em;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

/* Aquí comienza el contenido */

/* Aquí comienza la sección 1 */
.containerContent{
    /* border: 1px solid blue; */
    max-width: 1000px;
    height: 100%;
    padding: 1em 1em;
    margin: 0 auto;
    margin-top: 70px;
}

.section1{
    /* border: 1px solid red; */
    margin: 1em 0;
}
    .section1 h2{
        border-bottom: 2px solid var(--Gris);
        color: var(--Negro);
        text-transform: uppercase;
    }

.containerItems{
    display: grid;
    grid-template: 1fr / repeat(auto-fill, minmax(250px, 300px));
    justify-content: center;
    /* border: 1px solid blue; */
    padding: 1em 0;
    grid-gap: 1em;
}
    .containerItems .item{
        /* border: 1px solid red; */
        border-radius: 15px;
        display: block;
        overflow: hidden;
        box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
        cursor: pointer;
    }
    .itemContent:hover  figure img{
        transform: scale(1.09);
    }

    .item .itemContent{
        display: grid;
        grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    }

    .itemContent figure{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .itemContent figure img{
        height: 100%;
        width: 100%;
        transition: all 0.5s;
    }

    .itemContent .title{
        grid-column: 1 / span 6;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--Blanco);
        border-bottom: 1px solid var(--Gris);
    }
        .itemContent .title h3{
            color: var(--Negro);
            text-transform: uppercase;
        }
    .itemContent .footer{
        grid-column: 1 / span 6;
        grid-row-start: 6;
        background-color: var(--Blanco);
        display: flex;
        justify-content: space-between;
        margin: 0.5em;
    }
        .itemContent .footer .icon-buy{
            width: 28%;
            height: 100%;
            background-color: var(--Azul);
            border-bottom-left-radius: 15px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            color: white;
            transition: all 0.3s;
        }
            .itemContent .footer .icon-buy:hover{
                background-color: rgb(0, 132, 255);
            }
        
        .itemContent .footer .icon-paypal{
            width: 68%;
            height: 100%;
            background-color: var(--Azul);
            border-bottom-right-radius: 15px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            color: white;
            transition: all 0.3s;
        }
        .icon-paypal span{
            margin-left: 0.5em;
            font-weight: bold;
        }

        .itemContent .footer .icon-paypal:hover{
            background-color: rgb(0, 132, 255);
        }
    .itemContent figure{
        grid-row-start: 2;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 7;
    }
/* Aquí finaliza la sección 1 */